<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:argument
    name="class"
    type="string"
    optional="true"
    default="default"
    description="Variant. Can be default,info,danger,success,warning,notice,link" />
<f:argument
    name="icon"
    type="string"
    optional="{true}" />
<f:argument
    name="additionalClass"
    type="string"
    optional="{true}" />
<f:argument
    name="asSpan"
    type="bool"
    optional="{true}"
    default="{false}"

/>
<f:if condition="{asSpan}">
    <f:then>
        <span class="btn btn-{class} {additionalClass}"><f:if condition="{icon}">{core:icon(identifier:icon)}</f:if> {f:slot()}</span>
    </f:then>
    <f:else>
        <button class="btn btn-{class} {additionalClass}"><f:if condition="{icon}">{core:icon(identifier:icon)}</f:if> {f:slot()}</button>
    </f:else>
</f:if>
</html>
